
.locationList{
    
  max-height: 90vh;
  overflow: auto;
  margin: 10px 0 0 0;
  
}
@media (max-width: 64em) {
  .locationList{
    
    max-height: 50vh;
    overflow: auto;
    margin-bottom: 20px;
  }
}

.forecast-title {
  color:white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}